@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

a{
    text-decoration: none;
}
.nav-item{
    height: 90px;
}
.navbar{
    position: relative;
    width: 100%;
    z-index: 9;
    margin: -10px;
    padding: 10px;
    background-color: rgba(0, 58, 44, 0.9)
}
.nav-right{
    margin-top: -30px;
}
.nav-right a{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(img/Rise-Landscape.jpg);
    background-repeat: repeat;
    background-size: 100%;
    overflow-x: hidden; 
}
.heroimg{
    justify-items: center;
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0px;
    margin-bottom: -700px;
    width: 100%;
}
.title{
    padding: 100px;
    font-family: "Public Sans", sans-serif;
    text-align: center;
    font-size: 60px;

}
h2.main{
    font-size: 50px;
}
.background{
    margin: -10px;
}
.main{
    font-family: "Public Sans", sans-serif;
    text-align: center;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 200px;
}
.apps{
    font-size: small;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.apps  div{
    border-radius: 12px;
    width: 200px;
    height: 250px;
    margin: 10px;
    align-content: center;
    transition: background-color 0.3s, font-size 0.3s;
}
.apps  div:hover{
    img{height: 125px;}
    font-size: larger;
}
.apps  div  img{
    height: 100px;
    transition: height 0.3s;
}
.apps a{
    text-decoration: none;
}
.other-apps a{
    margin: 10px;
    text-decoration: none;
}
.other-apps a div h2{
    padding-top: 5px;
    text-decoration: none;
}
.other-apps a div{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.other-apps{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
}


.heading{
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.contact{
    position: relative;
    top: 5px;
    left: auto;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: -10px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 100px;
    padding-left: 50px;
    background-image: url(img/Weave.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: right;
    
}

@media (prefers-color-scheme: dark) {
    .heroimg{
        filter: brightness(20%);
    }
    .contact{
        background-color: rgb(0, 58, 44);
        color: white;
    }
    .heading{
        color: white;
        background-color: rgba(43, 86, 79, 0.685);
        color: white;
    }
    .other-apps a div:hover{
        background-color: rgba(0, 171, 142, 0.9);
    }
    .other-apps a div{
        background-color: rgb(0, 78, 66);
    }
    .other-apps a div h2{
        color: white;
    }
    .apps a{
        color: rgb(255, 255, 255);
    }
    .apps div:hover{
        background-color: rgb(51, 138, 123);
    }
    .apps div{
        background-color: rgb(0, 78, 66);
    }
    .background{
        background-color:  rgb(7, 47, 37);
    }
    h2.main{
        color: white;
    }
    .nav-right a{
        color: white;
    }
    .nav-item{
        color: white;
    }
    .title{
        color: white;
    }
}
@media (prefers-color-scheme: light) {
    .title{
        color: rgb(255, 255, 255);
    }
    .heroimg{
        filter: brightness(60%);
    }
    .contact{
        background-color: rgb(0, 58, 44);
        color: white;
    }
    .heading{
        color: white;
        background-color: rgb(143, 164, 157);
    }
    .other-apps a div:hover{
        background-color: rgb(66, 120, 111);
    }
    .other-apps a div{
        background-color: rgb(184, 184, 184);;
    }
    .other-apps a div h2{
        color: white;
    }
    .apps a{
        color: rgb(255, 255, 255);
    }
    .apps div:hover{
        background-color: rgb(66, 120, 111);
    }
    .apps div{
        background-color: rgb(187, 208, 205);
    }
    .background{
        background-color:  rgb(255, 255, 255);
    }
    h2.main{
        color: white;
    }
    .nav-right a{
        color: white;
    }
    .nav-item{
        color: white;
    }
}