@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/* The first 250 lines are a mess and I don't plan to clean it */
a {
    font-family: "Public Sans", sans-serif;
    text-decoration: none;
}

body {
    background-image: url(img/Rise-Landscape.jpg);
    background-repeat: repeat;

    background-size: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    font-family: "Public Sans", sans-serif;
    text-align: center;
    height: fit-content;
}

.heading {
    z-index: 2;
    color: white;
    background-color: rgb(11, 60, 79);
    transition: background-color 0.3s;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
}

.notice {
    z-index: 10;
    background-color: yellow;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    transition: background-color 0.3s;

    h2 {
        text-align: center;
        font-family: "Public Sans", sans-serif;
    }
}


button {
    z-index: 2;
    border-radius: 0;
    margin-right: 5px;
}

.but-b {
    display: none;
}

.navbackground{
    width: 100%;
    height: 105px;
    position: absolute;
    left: 0;
    filter: blur(5px);
    img{
        object-fit: cover;
        width: 100%;
        height: 110px;
        object-position: 0 25%;
    }
}

.navbar {
    background-color: rgba(0, 56, 78, 0.9);
    transition: background-color 0.3s;
    position: relative;
    width: 100%;
    z-index: 9;
    margin: -10px;
    padding: 10px;

    .slogan {
        display: none
    }


    .nav-right {
        position: absolute;
        right: 10px;
        top: 70px;


        a {
            color: white;
            font-family: "Public Sans", sans-serif;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .nav-left img {
        transition: background-color 0.3s;
        height: 90px;
        color: white;
    }
}

.heroimg {
    filter: blur(0px);
    position: absolute;
    top: -15%;
    left: 0px;
    width: 100%;
    z-index: -1;
    transition: filter 0.2s;

    img {
        filter: brightness(90%);
        justify-items: center;
        transition: top 0.2s, left 0.2s, width 0.2s;
    }
}

.title {
    z-index: 1;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: "Public Sans", sans-serif;
    text-align: center;
    font-size: 60px;
    text-shadow: 5px 5px 10px black;

    span {
        font-family: "DM Serif Text", serif;
        font-style: italic;
    }
}


.background {
    z-index: 0;
    background-color: rgb(255, 255, 255);
    margin: -10px;
    margin-top: -90px;
    padding-bottom: 150px;
    transition: background-color 0.3s;
}

.apps {
    z-index: 2;
    background-color: rgb(0, 56, 78);
    flex-wrap: nowrap;
    overflow-x: auto;
    overscroll-behavior-x: auto;
    overflow-y: hidden;
    scrollbar-color: slategray rgb(0, 56, 78);
    font-size: small;
    display: flex;
    height: 300px;
    position: relative;
    top: 20px;
    align-items: center;
    transition: background-color 0.3s;

    div {
        z-index: 3;
        outline: 1px white solid;
        background-color: rgb(0, 56, 78);
        border-radius: 5px;
        width: 200px;
        height: 250px;
        margin: 10px;
        align-content: center;
        transition: background-color 0.3s, font-size 0.3s, outline 0.3s, height 0.3s;
    }

    div:hover {
        img {
            height: 145px;
        }

        background-color: rgb(2, 81, 112);
        font-size: larger;
        height: 280px;
    }

    div img {
        z-index: 4;
        height: 90px;
        transition: height 0.3s;
    }

    a {
        font-family: "Public Sans", sans-serif;
        color: rgb(255, 255, 255);
        transition: color 0.2s;
        text-decoration: none;
        transition: color 0.3s;
        z-index: 4;
    }
}

.other-apps {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;

    a {
        font-family: "Public Sans", sans-serif;
        margin: 10px;
        text-decoration: none;
    }

    div {
        z-index: 2;

        h2 {
            transition: color 0.3s;
            color: white;
            padding-top: 5px;
            text-decoration: none;
        }

        height: 40px;
        width: 300px;
        border-radius: 5px;
        transition: background-color 0.3s;
        outline: 1px white solid;
        background-color: rgb(0, 56, 78);
    }

    div:hover {
        background-color: rgb(13, 113, 152);
    }
}

.contact {
    z-index: 2;
    background-color: rgb(11, 60, 79);
    color: white;
    position: relative;
    top: 5px;
    left: auto;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: -10px;
    margin-top: 0px;
    font-family: "Public Sans", sans-serif;
    padding-right: 100px;
    padding-left: 50px;
    background-image: url(img/Weave.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: right;
    transition: background-color 0.3s;

    a {
        color: white;
        font-family: "Public Sans", sans-serif;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        z-index: 3;
        position: absolute;
        right: 12%;
        top: 35%;
        width: 25%;
    }

}

@media (max-width: 700px) {
    .nav-right a {
        display: none;
    }

    .heroimg img {
        top: 0%;
    }
}

@media (max-width: 440px) {
    .heroimg img {
        display: none;
    }

    .title {
        color: black;
    }
}

/* Apply styles when viewport width is less than or equal to 800px */
@media (max-width: 1110px) {
    .apps {
        justify-content: none;
    }

    .contact img {
        display: none
    }
}

/* Apply styles when viewport width is greater than 800px */
@media (min-width: 1111px) {
    .apps {
        justify-content: center;
    }
}

.dark-mode {
    .navbackground{
        display:none;
    }
    .but-b {
        display: inline;
    }

    .slogan {
        display: inline;
        display: none;
        color: white;
        font-size: medium;
        position: absolute;
        top: 75px;
        left: 20px;
    }

    .but-a {
        display: none;
    }

    button {
        background-color: rgba(7, 47, 37, 0.8);
        color: white;
    }

    .navbar {
        background-color: rgba(7, 47, 37, 0.8)
    }

    .heroimg {
        filter: blur(5px);
        left: -5px;
        width: 101%;

        img {
            filter: brightness(50%);
        }
    }

    .heading {
        color: white;
        background-color: rgba(23, 77, 72, 0.664);
    }

    .other-apps a {
        div:hover {
            background-color: rgba(0, 171, 142, 0.9);
        }

        div {
            outline: none;
            background-color: rgb(0, 78, 66);

            h2 {
                color: white;
            }
        }
    }

    .apps {
        background-color: rgb(7, 55, 44);
        scrollbar-color: rgb(0, 78, 66) rgb(7, 55, 44);

        a {
            color: rgb(255, 255, 255);
        }

        div:hover {
            background-color: rgb(41, 104, 92);
        }

        div {
            outline: none;
            background-color: rgb(0, 78, 66);
        }
    }

    .background {
        background-color: rgb(7, 47, 37);
    }

    h2.main {
        color: white;
    }

    .nav-right a {
        color: white;
    }

    .nav-item {
        color: white;
    }

    .contact {
        background-color: rgb(7, 55, 44);
    }
}